.characters-info {
  display: flex;
}
.characters-image {
  width: 65%;
  min-width: 350px;
}

.characters-description {
  min-width: 350px;
}

.characters-description {
  font-weight: 400;
  font-size: x-large;
  margin-top: 10px;
  margin-right: 25px;
}
